<div class="filter_container mt-3">
<form [formGroup]="filterData" class="row">
  <div class="col-2">
    <div class="input-group ml-3">
        <select class="form-select" formControlName="year" placeholder="Year">
          <option value="" selected style="background-color: rgba(221, 221, 221, 0.521);">Year</option>
          <option *ngFor="let year of yearOptions" [value]="year"> {{ year }} </option>
        </select>
      </div>
</div>
<div class="col-2">
    <div class="input-group ml-3">
        <select class="form-select" formControlName="fuel">
          <option value="" selected style="background-color: rgba(221, 221, 221, 0.521);">Fuel</option>
          <option *ngFor="let fuel of fuelOptions" [value]="fuel.fuel"> {{fuel.fuel}} </option>
        </select>
      </div>
</div>
<div class="col-2">
    <div class="input-group ml-3">
        <select class="form-select" formControlName="seller_type">
          <option value="" selected style="background-color: rgba(221, 221, 221, 0.521);">Seller Type</option>
          <option *ngFor="let seller of sellertypeOptions" [value]="seller.seller_type"> {{seller.seller_type}} </option>
        </select>
      </div>
</div>
<div class="col-2">
    <div class="input-group ml-3">
        <button class="btn btn-primary" (click)="filter()">Filter</button>
      </div>
</div>
</form>


<div class="input-group flex-nowrap w-25 mt-3">
  <span class="input-group-text" id="addon-wrapping"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg></span>
  <input type="text" class="form-control" (keyup.enter)="searchManufacturer()" [(ngModel)]="searchTerm" placeholder="Search Manufacturer..." aria-label="Search Manufacturer..." aria-describedby="addon-wrapping">
</div>
<button class="btn btn-danger btn-sm float-end" (click)="unhideall()" *ngIf="!hideKM || !hideTransmission || !hideOwner">Unhide</button>
</div>



<div class="table-container" style="height: 80vh;" >
  <div class="spinner-border text-dark spinner" role="status" *ngIf='!isloaded'>
    <span class="visually-hidden">Loading...</span>
  </div>
<table>
    <tr>
        <th>Name</th>
        <th>Year </th>
        <th>Selling Price</th>
        <th *ngIf="hideKM">K.M. Driven
          <span (click)="hideKM = false" style="position: absolute;right: 5px; cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </span>
        </th>
        <th>Fuel</th>
        <th>Seller Type</th>
        <th *ngIf="hideTransmission">Transmission
          <span (click)="hideTransmission = false" style="position: absolute;right: 5px; cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </span>
        </th>
        <th *ngIf="hideOwner">Owner
          <span (click)="hideOwner = false" style="position: absolute;right: 5px; cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </span>
        </th>
        <th>Milage</th>
        <th>Engine</th>
        <th>Max Power</th>
        <th>Torque</th>
        <th>Seats</th>
    </tr>
    <tr *ngFor = "let car of cars">
        <td>{{ car.name }}</td>
        <td>{{ car.year }}</td>
        <td>{{ car.selling_price | number }}</td>
        <td *ngIf="hideKM">{{ car.km_driven | number }}</td>
        <td>{{ car.fuel }}</td>
        <td>{{ car.seller_type }}</td>
        <td *ngIf="hideTransmission">{{ car.transmission }}</td>
        <td *ngIf="hideOwner">{{ car.owner }}</td>
        <td>{{ car.mileage }}</td>
        <td>{{ car.engine }}</td>
        <td>{{ car.max_power }}</td>
        <td>{{ car.torque }}</td>
        <td>{{ car.seats | number }}</td>
    </tr>
</table>
</div>


